.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#mainButton {
  margin-right: 10px;
  font-weight: 700;
  border-radius: 50%;
  background-color: #3f51b5; /* Green */
  border: 2px solid #a6b3f7;
  color: #a6b3f7;
  padding: 7px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  text-shadow: 2px, 2px, #2a3882;
  transition-duration: 0.3s;
  box-shadow: 2px 2px 2px #2a3882;
  text-shadow: 1px 1px #2a3882;
}

#mainButton:hover {
  background-color: #a6b3f7;
  color: white;

  box-shadow: 6px 6px 8px #2a3882;
  padding: 10px 13px;
  text-shadow: none;
}

#mainButtonAdd {
  margin-bottom: 10px;
  margin-top: 25px;
  font-weight: bold;

  background-color: white;

  border: solid 2px #558b2f;
  color: #558b2f;
  padding: 2px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  text-shadow: 2px, 2px, lightgrey;
  transition-duration: 0.3s;
  box-shadow: 2px 2px 2px #bfc8f3;
  text-shadow: 1px 1px lightgrey;
}

#mainButtonAdd:hover {
  background-color: #558b2f;

  text-shadow: none;
  color: white;
  content: attr("NEW");
}

#mainButtonAddTraining {
  font-weight: bold;
  margin: 50px;
  background-color: white;

  border: solid 2px #3f51b5;
  color: #3f51b5;
  padding: 2px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  text-shadow: 2px, 2px, #2a3882;
  transition-duration: 0.3s;
  box-shadow: 2px 2px 2px #bfc8f3;
  text-shadow: 1px 1px lightgrey;
}

#mainButtonAddTraining:hover {
  background-color: #3f51b5;

  text-shadow: none;
  color: white;
}

#mainButtonDelete {
  margin-bottom: 0px;
  margin-right: 5px;
  margin-top: 2px;
  font-weight: bold;
  border-radius: 0%;

  background-color: white;

  border: solid 2px #f50057;
  color: #f50057;
  padding: 1px 1px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  text-shadow: 2px, 2px, #2a3882;
  transition-duration: 0.3s;
  box-shadow: 2px 2px 2px #bfc8f3;
  text-shadow: 1px 1px lightgrey;
}

#mainButtonDelete:hover {
  background-color: #f50057;

  text-shadow: none;
  color: white;
  content: attr("NEW");
}

#mainButtonEdit {
  margin-bottom: 0px;
  margin-right: 5px;
  margin-top: 2px;
  font-weight: bold;
  border-radius: 0%;

  background-color: white;

  border: solid 2px #f9a825;
  color: #f9a825;
  padding: 1px 1px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  text-shadow: 2px, 2px, #2a3882;
  transition-duration: 0.3s;
  box-shadow: 2px 2px 2px #bfc8f3;
  text-shadow: 1px 1px lightgrey;
}

#mainButtonEdit:hover {
  background-color: #f9a825;

  text-shadow: none;
  color: white;
  content: attr("NEW");
}

#addTraining {
  color: #3f51b5;
}

#addIcon {
  margin: 0px;
  padding: 0px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
